<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Grade:</b>
  <%= @student.grade %>
</p>

<p>
  <b>Teachers:</b>
  <% for teacher in Teacher.find(:all) %>
    <div>
      <% if @student.teachers.include?(teacher) %>
      <%= teacher.name %>
      <% end %>
    </div>
  <% end %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
